@model IEnumerable<SubscriptionManager.Models.Subscription>


<!-- Main page that will show subscriptions -->


@{
    ViewBag.Title = "Current Subscriptions: ";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siteLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)        //Displays each individual subscription (item) and their properties
    {                                   // Change so that displayed based on category
<tr>
    <td>
        <!-- DisplayFor- generates html string for model object property) -->

        @Html.DisplayFor(modelItem => item.name)
    </td>

    <!-- dropdown with options  -->
    <td>
        @Html.DisplayFor(modelItem => item.category)
    </td>

    <td>
        $
        @Html.DisplayFor(modelItem => item.amount)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.length) 
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.startDate)
    </td>
    <td>        
        @Html.DisplayFor(modelItem => item.status) 
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.siteLink)
    </td>
    <td>
        <!-- ActionLink- (Desired text, action method name) -->
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>

