@model IEnumerable<SubscriptionManager.Models.Subscription>

<!-- make table have different pages (footer with 1,2,3,etc)
    AND make table shorter (change the edit/delete buttons at end)
    -->

<!-- Add button to sort/filter, icons , etc -->

<!-- add calander component AND recent subscriptions box (with important data) -->

@{
    ViewBag.Title = "Current Subscriptions: ";
}


<div class="card rounded">
    <div class="card-body">
        <h2 class="card-title" style="font-size: 2rem; ">Current Subscriptions</h2>
        <p class="text-end">
            <a href="@Url.Action("Create", "Subscriptions")" class="btn btn-primary">Add a Subscription</a>
        </p>

        <table class="table table-striped rounded" style=" background-color: #adb5bd; border: 4px solid black;">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.category) <!-- display subscriptions by category  -->
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.amount)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.length)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.startDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.status) <!-- Red/Green circle icon -->
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.siteLink) <!-- make hyperlink? -->
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)        //Displays each individual subscription (item) and their properties
                {                                   // Change so that displayed based on category
                    <tr>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.name)</strong>
                        </td>

                        <!-- Add divider between elements?  -->
                        <!-- dropdown with options  -->
                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>

                        <td>
                            $
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.length)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.siteLink)
                        </td>
                        <td>
                            <!-- ActionLink- (Desired text, action method name) -->
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>












