@model IEnumerable<SubscriptionManager.Models.Subscription>

<!-- make table have different pages (footer with 1,2,3,etc)
    AND make table shorter (change the edit/delete buttons at end)
    -->

<!-- Add button to sort/filter, icons , etc -->

<!-- add calander component AND recent subscriptions box (with important data) -->

@{
    ViewBag.Title = "Current Subscriptions: ";
}


<div class="card rounded">
    <div class="card-body">
        <h2 class="card-title" style="font-size: 2rem; ">Current Subscriptions</h2>
        <p class="text-end">
            <a href="@Url.Action("Create", "Subscriptions")" class="btn btn-primary">Add a Subscription</a>
        </p>



        <!--Calander component and recent subscriptions component -->




        <!-- Add filter buttons  -->
        <table class="table table-bordered table-dark" style="border: 4px solid black;">
            <thead style=" background-color: #adb5bd;">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.category) <!-- display subscriptions by category  -->
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.amount)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.length)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.startDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.status) <!-- Red/Green circle icon -->
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.siteLink) <!-- make hyperlink? -->
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)        //Displays each individual subscription (item) and their properties
                {                                   // Change so that displayed based on category
                    <tr>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.name)</strong>
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>

                        <td>
                            $
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.length)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)

                            <!-- add red/green -->

                        </td>
                        <td>
                            <a href="@item.siteLink">@item.siteLink</a>
                        </td>
                        <td>

                            <div class="btn-group" role="group" aria-label="...">
                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-list", @aria_hidden = "true" })
                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil", @aria_hidden = "true" })
                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-remove", @aria_hidden = "true" })
                            </div>


                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>












