@model IEnumerable<SubscriptionManager.Models.Subscription>





@{
    ViewBag.Title = "Current Subscriptions: ";
}


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<div class="card rounded">
    <br />
    <div class="row" style="background-color: white; border-radius: 15px;">
        <!-- Revenue Card -->
        <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2rem; font-weight: bold">Amount Spent <span>| This Year</span></h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="display: flex; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                            </svg>
                            <span style="margin-left: 10px; font-weight:bold; font-size: large">@ViewBag.totalAmount</span>
                        </div>
                    </div>
                </div>
            </div>



            <div id="barChart"></div>

            <script>
            document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#barChart"), {
                    series: [{
                        data: [@ViewBag.JanuaryAmount, @ViewBag.FebruaryAmount, @ViewBag.MarchAmount, @ViewBag.AprilAmount,@ViewBag.MayAmount, @ViewBag.JuneAmount, @ViewBag.JulyAmount, @ViewBag.AugustAmount, @ViewBag.SeptemberAmount, @ViewBag.OctoberAmount,@ViewBag.NovemberAmount,@ViewBag.DecemberAmount]
                    }],
                    chart: {
                        type: 'bar',
                        height: 350,
                        toolbar: {
                            show: false
                        }
                    },
                    plotOptions: {
                        bar: {
                            borderRadius: 4,
                            horizontal: true,
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    xaxis: {
                        categories: [
                            'January', 'February', 'March', 'April', 'May', 'June',
                            'July', 'August', 'September', 'October', 'November', 'December'
                        ],
                    }
                }).render();
            });
            </script>

        </div>

        <div class="col-xxl-6 col-md-6" style=background-color: white">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2rem; font-weight: bold">Spending by Category</h5>
                    <div id="donutChart"></div>
                    <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#donutChart"), {
                            series: [@ViewBag.EntertainmentAmount, @ViewBag.FoodAmount, @ViewBag.HealthAmount, @ViewBag.TechAmount, @ViewBag.OtherAmount],
                            chart: {
                                height: 350,
                                type: 'donut',
                                toolbar: {
                                    show: true
                                }
                            },
                            labels: ['Entertainment', 'Food Delivery/Meal Kits', 'Health and Fitness', 'Technologies', 'Other'],
                        }).render();
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>


    <div class="card-body">
        <h2 class="card-title" style="font-size: 2rem; font: bold">Current Subscriptions</h2>
        <div class="row">
            @using (Html.BeginForm())
            {
                <div class="search-container" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="display: flex; align-items: center;">
                        <p style="margin-left: 10px;">
                            Search Subscriptions: @Html.TextBox("SearchString")
                            <input type="submit" value="Search" />
                        </p>
                    </div>
                    <p style="margin-right: 15px;">
                        <a href="@Url.Action("Create", "Subscriptions")" class="btn btn-primary">Add a Subscription</a>
                    </p>
                </div>
            }
        </div>
    </div>
        
       


        <!-- ADD SORTING, FILTERING, PAGINATION -->
        <table class="table table-bordered table-dark" style="border: 4px solid black; background-color: white;">
            <thead style=" background-color: #adb5bd;">
                <tr>
                    <th scope="col">
                        Name
                        <a href="@Url.Action("Index", new { sortField = "name", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder })">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                            </svg>
                        </a>
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.category)
                    </th>
                    <th scope="col">
                        Amount
                        <a href="@Url.Action("Index", new { sortField = "amount", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder })">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                            </svg>
                        </a>
                    </th>
                    <th scope="col">
                        Length
                        <a href="@Url.Action("Index", new { sortField = "length", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder })">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                            </svg>
                        </a>
                    </th>
                    <th scope="col">
                        Start Date
                        <a href="@Url.Action("Index", new { sortField = "startDate", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder })">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                            </svg>
                        </a>
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.siteLink)
                    </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)        //Displays each individual subscription (item) and their properties
                {                                   // Change so that displayed based on category
                    <tr>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.name)</strong>
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>

                        <td>
                            $
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.length)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>


                            @if (item.status == "Active")
                            {
                                <span style="height: 10px; width: 10px; border-radius: 50%; display: inline-block; background-color: green;"></span>
                            }
                            else if (item.status == "Cancelled")
                            {
                                <span style="height: 10px; width: 10px; border-radius: 50%; display:inline-block; background-color: red; "></span>
                            }
                            @Html.DisplayFor(modelItem => item.status)

                        </td>
                        <td>
                            <a href="@item.siteLink">@item.siteLink</a>
                        </td>
                        <td>

                            <div class="btn-group" role="group" aria-label="...">
                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-list", @aria_hidden = "true" })
                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil", @aria_hidden = "true" })
                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-remove", @aria_hidden = "true" })
                            </div>


                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>



</div>










